# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* List of popular languages in Data Science

* Commonly used libraries in Data Science

* Data Science Tools

* Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java script

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy
4. Seaborn
5. TensorFlow

| Data Science Tools |
|--------------------|
| R Studio           |
| Jupyter Notebook   |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author ##

Rachael Arowolo